{% extends "catalog/base.html" %}
{% block title %}Зеленый угол{% endblock title %}

{% block header %}
    <h5>{{ text_head }}</h5>
{% endblock header %}

{% block content%}
    <div class="container-fluid my-2">
        <div class="row bg-success text-white mx-2">
            <div class="col text-center">
                <p>Добро пожаловать на сайт <em>Зеленый угол</em>. Это отличная база отдыха.
                    Мини-база отдыха "Зеленый угол" для любителей активного отдыха на природе с домашним комфортом.
                    Найти нас можно на окраине д. Иваново Егорьевского района.
                    Мы граничим с лесным массивом и поэтому наша территория со всех сторон окружена хвойными деревьями.
                    На самой территории Вас ждут два гостевых дома,
                    зона барбекю с панорамной беседкой-куполом на 8 персон (аренда 1000р в сутки) и закрытая парковка
                    с видеонаблюдением на 4 автомобиля. Каждый дом имеет приватную зону отдыха с мангалом и
                    садовой мебелью на 4 персоны.
                    Теперь подробнее: Дом рыбака. Предназначен для комфортного
                    размещения трех (максимум 4) взрослых гостей или семейной пары с детьми. Оборудован санузлом с
                    душем и русской баней на дровах (входит в стоимость проживания продолжительностью
                    не более 4-х часов). В доме есть полноценная кухня с барным столом, двухъярусная
                    кровать и раскладной диван. Имеется вся необходимая посуда, бытовая техника и
                    спальные принадлежности. И все же уникальность нашей базы заключается в том,
                    что ее окружает, а именно: 1. Смешанный лес. Стоит только выйти за территорию и
                    изобилие грибов и ягод не оставят равнодушными любителей тихой охоты. Не любите
                    ходить пешком- поможем организовать для Вас туры на квадроциклах. 2. Охота. В
                    нескольких минутах пешком от населенного пункта находится 3-й участок Егорьевского районного
                    общества охотников и рыболовов (ЕРООиР). Приехали не в сезон или просто хотите отточить навыки
                    стрельбы- в 800 метрах от базы находится стрельбище. 3. Рыбалка! В пешей доступности от
                    базы гостеприимно расположился Егорьевский рыбокомбинат "ЦНА". Более 2,5 тысячи гектар
                    водной поверхности и разнообразие видов рыб не оставят равнодушным
                    даже самых искушенных рыбаков.</p>
            </div>
        </div>

        <div class="row text-center text-dark lh-2">

{% endblock content %}